:root {
  --black-color: rgba(0, 0, 0, 1);
  --white-color: rgba(255, 255, 255, 1);
  --turquoise-color: rgba(236, 244, 241, 1);
  --light-green-color: rgba(203, 226, 218, 1);
  --green-color: rgba(150, 204, 234, 1);
  --success-color: rgba(150, 204, 123, 1);
  --dark-blue-color: rgba(79, 108, 172, 1);
  --light-blue-color: rgba(79, 108, 172, 0.5);
  --blue-color: rgba(117, 165, 189, 1);
  --dark-gray-color: rgba(157, 157, 157, 1);
  --gray-color: rgba(196, 196, 196, 1);
  --yellow-color: rgba(229, 234, 8, 1);
  --orange-color: rgba(255, 93, 71, 1);
}